@import "../_snowpack/pkg/tailwindcss/dist/base.css";
@import "../_snowpack/pkg/tailwindcss/dist/components.css";
@import "../_snowpack/pkg/tailwindcss/dist/utilities.css";

.cardfr {
    padding: 10px;
    border-radius: 5px;
    display: float;
    margin: 10px;
    width: 200px;
    display: inline-block;
}