@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

.cardfr {
    padding: 10px;
    border-radius: 5px;
    display: float;
    margin: 10px;
    width: 200px;
    display: inline-block;
}